html/erabiltzailea.dtd

<!ELEMENT erabiltzaileak (erabiltzailea)*>
<!ATTLIST erabiltzaileak azkenid IDREF #REQUIRED>
<!ELEMENT erabiltzailea (izena, abizena, korreoa, hiria, erabiltzailea, pasahitza)>
<!ATTLIST erabiltzailea id ID #REQUIRED>
<!ELEMENT izena (#PCDATA)>
<!ELEMENT abizena (#PCDATA)>
<!ELEMENT korreoa (#PCDATA)>
<!ELEMENT hiria (#PCDATA)>
<!ELEMENT erabiltzailea (#PCDATA)>
<!ELEMENT pasahitza (#PCDATA)>