dtd/abisuak.dtd

<!ELEMENT abisuak (abisua)*>
<!ELEMENT abisua (data, mota, pribintzia, hiria, errepidea, iruzkina)>
<!ATTLIST abisua id ID #REQUIRED>
<!ELEMENT data (#PCDATA)>
<!ELEMENT mota (#PCDATA)>
<!ELEMENT probintzia (#PCDATA)>
<!ELEMENT hiria (#PCDATA)>
<!ELEMENT errepidea (#PCDATA)>
<!ELEMENT iruzkina (#PCDATA)>
